 <% if obj.errors.any? %>
    <div class="rwo">
        <div class="col-sm-8 col-xs-12 offset-md-2">
            <div class="panel panel-danger">
                <div class="panel-heading bg-danger text-white p-3">
                    <h2 class="panel-title ">
                        <%= pluralize(obj.errors.count, "error") %>
                        prohibited the article from getting submitted
                    </h2>
                    <div class="panel-body bg-danger">
                        <ul>
                        <% obj.errors.full_messages.each do |msg| %>
                            <li><%= msg %></li>
                        <% end %>
                        </ul>
                    </div>
                </div> 
            </div>   
        </div>
    </div>
<% end %> 
