<div class="jumbotro text-center">
<div class="text-center pt-5">
  <h1 class="display-3 mt-5">Alpha Blog</h1>
  <p class="lead mt-3">This is a simple hero unit, <br>a simple jumbotron-style component for calling<br> extra attention to featured content or information.</p>
  
  <%= link_to 'Sign up now', signup_path, class: "btn btn-secondary mt-2 btn-lg home-btn" %>
</div>
</div>